table, th, td {
	border: 10px solid white;
	cellspacing: 10px;
}

#skillOption {
	overflow: hidden;
	padding: 0;
	width: 100vw;
}

select {
	border: #cefff5;
	column-width: 100px;
	background: #ddfff8;
	width: 100%;
	height: 5px;
	overflow: scroll;
	border-radius: 1px;
}

option {
	border: #000000;
	padding-left: 10px;
	padding-bottom: 1px;
	padding-top: 1px;
	border-bottom-style: 1px;
}