nav,output {
	display: block;
	}
h1 {
	text-transform: uppercase;
	font-size: 20px;
	}
nav {
	float:left;
	padding-right:20px;
	}
.resultbars {
	padding-top: 30px;
	}
.progress {
	float: left;
	width: 236px;
	height: 1em;
	border: 1px solid #ccc;
	background: -webkit-linear-gradient(#ccc, #eee);
	background: -moz-linear-gradient(#ccc, #eee);
	background: -ms-linear-gradient(#ccc, #eee);
	background: -o-linear-gradient(#ccc, #eee);
	background: linear-gradient(#ccc, #eee);
}
meter, progress {
	width: 236px;
}
.resultbars li {
	list-style: none;
	margin: 0;
	padding: 0 0 5px 0;
	}
.value {
	padding: 0 1em;
}
#graphs ul { 
	margin: 1em 0;
	list-style: none;
	}
.os {
	display: block;
	float: left;
	width: 100px;
}
.progress span {
	background: #060;
	background: -webkit-linear-gradient(0deg, #060, #0c0);
	background: -moz-linear-gradient(0deg, #060, #0c0);
	background: -ms-linear-gradient(0deg, #060, #0c0);
	background: -o-linear-gradient(0deg, #060, #0c0);
	background: linear-gradient(90deg, #060, #0c0);
	width:20px;
	height:1em;
	display: block;
	-webkit-transition: width 1s;
	-moz-transition: width 1s;
	-ms-transition: width 1s;
	-o-transition: width 1s;
	transition: width 1s;
	}
table.chart { 
	clear: both;
	border: none;
	border-collapse: collapse;
}
thead.chart th.chart {
	border-bottom: 2px solid #000;
}
th.chart, td.chart {
	padding: 5px 10px;
	border: none;
	border-collapse: collapse;
	visibility: hidden;
}
tbody.chart td.chart{
	text-align: center;
}
tbody.chart tr.chart > th.chart {
	text-align: left;
	border-right: 2px solid #000;
}